.products-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10rem 0;
    gap: 10rem;
}

.products-gallery{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10rem 5rem;

    width: 100%;
    max-width: 173.2rem;
}


.products-gallery > p{
    font-size: 4rem;
    min-height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.products-container > input{
    width: 100%;
    max-width: 100rem;
    height: 5rem;
    border-style: border-box;
    padding: 2rem;
    font-size: 1.5rem;
    border: 0.1rem solid black;
}